@{
    ViewData["Title"] = "PBW Section";
}

<div class="text-center">
    <h1 class="display-4">PBW SECTION</h1>
    <br /><br />

     <a class="btn btn-primary btn-lg" asp-area="" asp-controller="PBWCellType" asp-action="Index">PBW Cell Types</a>
     &nbsp;
     <a class="btn btn-primary btn-lg" asp-area="" asp-controller="PBWGagingSt" asp-action="Index">Gaging Station</a>
    
</div>
