@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br /><br />

     <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Catergory" asp-action="Index">Catergory</a>
     &nbsp;
     <a class="btn btn-primary btn-lg" asp-area="" asp-controller="ApplicationType" asp-action="Index">Application Type</a>
    
</div>
